<html>
        <head>
            <h1> Who Do You Want To Defriend from {{group_name}}? </h1>
        </head>
        <body>
        <style type="text/css">
            table, th, td{
                border: 1px solid black;
            }
        </style>

        {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}

        <table>
            {% for num in loop %}
            <th>Username</th>
            <th>Defriend?</th>
            {% endfor %}
        
        {% for line1 in members %}
            <tr>
                <td>{{line1.username}}</td>
                <form action='defriend_user_AUTH'>
                    <td><input type="submit" name="{{line1.username}}_defriend" value = Confirm /></td>
                </form>
            </tr>
        {% endfor %}
        </table> 
        <a href="/manage_fb">Go Back</a>
        </body>
        </html>
        